body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.container{
    width: 700px;
    height: 600px;
    padding: 10px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
h1{
    text-align: center;
    color: goldenrod;
}
input{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: blue;
}
button{
    grid-column: span 2;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
}
h2{
    text-align: center;
    color: slateblue;
}
