body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://camo.githubusercontent.com/a636b3ab7d3bf063ab198d6f41645b6937ea760fea3a137f1fdb89a9b3f07dba/68747470733a2f2f696d61676573382e616c706861636f646572732e636f6d2f3430352f3430353032392e6a7067);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.container{
    width: 700px;
    height: 600px;
    padding: 10px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
h1{
    text-align: center;
    color: goldenrod;
}
input{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: blue;
}
button{
    grid-column: span 2;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
}
h2{
    text-align: center;
    color: slateblue;
}
